<!doctype html>
<html lang="en">
<head>
    <%- partial("partials/head.ejs") %>
</head>
<body>
    <%- partial("partials/nav.ejs") %>
    
    <div class="page-content">
        <%- body %>
    </div>
</body>
</html>