/* 
Variables 
*/
:root {
    /* these values are changed by landing_page.js */
    --accent-color: #559CAD; 
    --bg-color: #474747;
    --fg-color: white;

    --main-font: "Roboto", sans-serif;
    --mono-font: "Fira Code", "Courier New", monospace;
}

/*
    Text selection
*/
::selection {
    background-color: var(--accent-color);
}

::-moz-selection {
    background-color: var(--accent-color);
}

/*
    Body 
*/

body {
    margin: 10px;
    font-family: var(--main-font);
    background-color: var(--bg-color);
    color: var(--fg-color);
}

/* 
    Navigation 
*/
.nav {
    text-align: center;
}

.nav__link {
    padding: 4px;
    border-radius: 4px;
    font-size: 200%;
    text-decoration: none; 
    color: var(--accent-color);
}

.nav__link:hover {
    color: white;
    background-color: var(--accent-color);
}

.nav__link--active {
    text-decoration: underline;
    font-weight: bold;
}

/* 
    1 content 
*/

.page-content {
    line-height: 1.4;
    word-wrap: break-word;
}

/* Intro */
.intro__title {
    display: block;
    font-size: 150%;
}

.intro__subtitle {
    display: block;
    font-size: 120%;
}

/* Links */
.page-content a {
    padding: 3px;
    border-radius: 4px;
    font-family: var(--mono-font);
    color: var(--accent-color);
}

.page-content a:hover {
    color: white;
    background-color: var(--accent-color);
}

/* date */
.intro__date {
    display: block;
    font-size: 110%;
}

/* 
*   highlight.js styling 
*/
.line {
    font-family: var(--mono-font);
}

/* line numbers */
.gutter pre {
    padding-right: 10px;
    font-weight: bold;
    font-style: italic;
}

/* blog index page */
.post--title {
    font-weight: bold;
}

.post--date {
}

.post--excerpt {
    font-size: 80%;
}

code {
    font-family: var(--mono-font);
}

/* wrap code blocks */
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word; /* what the hell IE?? */
}